*.sublime-workspace

dataset-preparation/bokeh/
dataset-preparation/selfies/
flickr-api-key.txt

get-dataset-flickr/bokeh_downloads/
get-dataset-flickr/iphone_downloads/

pytorch-CycleGAN-and-pix2pix/vgg19.npy
pytorch-CycleGAN-and-pix2pix/deeplab/deeplabv3_pascal_trainval/
pytorch-CycleGAN-and-pix2pix/deeplab/mobilenetv2_coco_voctrainaug/
pytorch-CycleGAN-and-pix2pix/deeplab/xception_coco_voctrainval/
pytorch-CycleGAN-and-pix2pix/datasets/
pytorch-CycleGAN-and-pix2pix/checkpoints/