dataset-preparation/bokeh

dataset-preparation/selfies/

get-dataset-flickr/bokeh_downloads/
get-dataset-flickr/iphone_downloads/

pytorch-CycleGAN-and-pix2pix/deeplab/deeplabv3_pascal_trainval/
pytorch-CycleGAN-and-pix2pix/deeplab/mobilenetv2_coco_voctrainaug/
pytorch-CycleGAN-and-pix2pix/deeplab/xception_coco_voctrainval/

CycleGAN-TensorFlow/data/
CycleGAN-TensorFlow/checkpoints/

pytorch-CycleGAN-and-pix2pix/datasets/